<form action="/add" method="POST">
    <h2 style="color: rgb(108, 175, 192);">Titulo: </h2>
    <input style="font-weight: bold; font-size: 20px; width: 80%; height:50px; background:rgb(188, 223, 224);" type="text" name="titulo">
    <h2 style="color: rgb(108, 175, 192);">Conteudo: </h2>
    <textarea style="font-weight: bold; font-size: 20px; width: 80%; background: rgb(188, 223, 224); height:200px;" name="conteudo"></textarea>
    <button style="width: 81%; border: none; cursor: pointer; background:rgb(108, 175, 192) ;" type="submit">Cadastrar postagem</button>
</form>